@page
@model BED_Assignment_3.Pages.KitchenModel
@{
	ViewData["Title"] = "Kitchen";
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/kitchen.js"></script>

<p>Expected guests: @Model.TotalExpectedGuests</p>
<p>Adults: @Model.TotalAdultsExpected</p>
<p>Children: @Model.TotalChildrenExpected</p>

<p>Checked-in adults: @Model.TotalCheckedInAdults</p>
<p>Checked-in children: @Model.TotalCheckedInChildren</p>

<p>Remaining adults: @Model.RemainingAdults</p>
<p>Remaining children: @Model.RemainingChildren</p>
=======
=======
>>>>>>> parent of 4a33b81 (nu med json filer + small update)
=======
>>>>>>> parent of 4a33b81 (nu med json filer + small update)
=======
>>>>>>> parent of 4a33b81 (nu med json filer + small update)
<label>Number of Expected guests</label>
	<ul>
		<li>
			Adults
		</li>
		<li>
			Children
		</li>
	</ul>
<label>Number of adults checked in</label>
<br />
<label>Number of children checked in</label>
<br />
<label>Guest not checked in yet</label>
<ul>
	<li>
		Adults
	</li>
	<li>
		Children
	</li>
</ul>
<br />
>>>>>>> parent of 4a33b81 (nu med json filer + small update)
